<!-- Footer -->
<footer class="page-footer pt-2 fixed-bottom" style="background-color: rgb(1, 43, 43);">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright <br> Abdi Edaurdo Chavira Garcia 4E
    {{year}}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>